<!DOCTYPE html>
<html lang="id" prefix="og: https://ogp.me/ns#">
  <head>
    <title><%= productName %></title>
    <meta name="description" content="<%= productDescription %>" data-qmeta="description">

    <meta charset="utf-8">
    <meta name=format-detection content="telephone=no">
    <meta name=msapplication-tap-highlight content=no>
    <meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <link rel=icon type=image/svg+xml href=/icon/favicon.svg>
    <link rel=icon type=image/png sizes=96x96 href=/icon/icon-96x96.png>
    <link rel=icon type=image/png sizes=192x192 href=/icon/icon-192x192.png>
    <link rel=icon type=image/png sizes=256x256 href=/icon/icon-256x256.png>

    <meta property="og:site_name" content="<%= productName %>" data-qmeta="ogSitename">
    <meta property="og:title" content="<%= productName %>" data-qmeta="ogTitle">
    <meta property="og:description" content="<%= productDescription %>" data-qmeta="ogDescription">
    <meta property="og:type" content="website" data-qmeta="ogType"/>
    <meta property="og:image" content="https://shop.landngku.com/icon/icon-384x384.png" data-qmeta="ogImage">
    <meta property="og:image:width" content="384" data-qmeta="ogImageWidth">
    <meta property="og:image:height" content="384" data-qmeta="ogImageHeight">
  </head>
  <body class="bg-blue-grey-1">
    <link itemprop="thumbnailUrl" href="https://shop.landngku.com/icon/icon-384x384.png">
      <span itemprop="thumbnail" itemscope itemtype="https://schema.org/ImageObject">
      <link itemprop="url" href="https://shop.landngku.com/icon/icon-384x384.png">
    </span>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
